/* ----------------------------------------------------
   ABOUT US SECTION
---------------------------------------------------- */
#about-us-paragraph {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about-us-tagline p {
    font-weight: 550;
    color: var(--accent);
}

#about-us img {
    width: 50%;
}

/* ----------------------------------------------------
   TEAM SECTION
---------------------------------------------------- */
.team-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.team-member {
    padding: 1rem;
    border: var(--dark-outline);
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-member {
    background-color: var(--background-primary);
}

#right-member {
    background-color: var(--background-secondary);
}

/* ----------------------------------------------------
   TEAM MEMBER CONTENT
---------------------------------------------------- */
.team-member-header {
    padding: 1rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.team-member-header img {
    border: var(--dark-outline);
    margin-top: 1rem;
    width: 50%;
    box-shadow: var(--shadow);
}

.team-member-description {
    width: 55%;
}

#left-description {
    margin-left: 2rem;
}

#right-description {
    margin-right: 2rem;
}

/* ----------------------------------------------------
   REVIEWS SECTION
---------------------------------------------------- */
#reviews .card h3 {
    text-align: center;
}

#reviews .group {
    gap: 5rem;
    padding-right: 5rem;
}

#reviews .card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

/* ----------------------------------------------------
   RESPONSIVE STYLES
---------------------------------------------------- */

@media (max-width: 1000px) {
    .team-member-header img {
        width: 90%;
    }
}

@media (max-width: 700px) {

    .team-container {
        width: 100%;
    }

    .team-member {
        padding: 0;
    }

    #left-member {
        flex-direction: column;
    }

    #right-member {
        flex-direction: column-reverse;
    }

    #left-description,
    #right-description {
        margin: 0;
    }

    .team-member-header {
        padding: 0;
        width: 100%;
    }

    .team-member-header img {
        width: 40%;
    }

    .team-member-description {
        width: 100%;
        margin: 0;
        padding: 2rem;
    }
}
