.booking-container{
    margin: 2rem;
    border: var(--dark-outline);
    box-shadow: var(--shadow);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.van-box:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.van-box.selected {
    border: 1px solid var(--accent);
}

.van-box.selected p, .van-box.selected h4 {
    color: var(--accent);
}

#fleet-nav {
    background-color: var(--accent);
    padding: 0.5rem;
    align-self: start;
    margin-bottom: 1rem;
    transition: all 0.25s ease;
}

#fleet-nav a{
    color: var(--light);
}

#fleet-nav:hover{
    cursor: pointer;
    transform: scale(1.1);
}



.styled-form {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#form-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.form-line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.first-name, .last-name{
}


#form-content button {
    font-family: "Raleway", "sans-serif";
    color: white;
    font-weight: bold;
    padding: 0.75rem 0.5rem;
    margin-top: 1rem;
    width: 50%;
    font-size: 1rem;
    background-color: var(--accent);
    border: var(--accent);
    box-shadow: var(--shadow);
    transition: all 0.25s ease;
}

#form-content button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#van-select {
   align-self: flex-start;
   margin-bottom: 0.5rem;
}

.required {
    color: var(--accent);
}

label {
    color: var(--light-primary);
}

input , textarea{
    font-family: "Raleway", "sans-serif";
    color: var(--light-primary);
    background-color: var(--dark-tertiary);
    box-shadow: var(--shadow);
    border: var(--dark-outline);
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
}

input:focus{
    outline: none;
    border: 1px solid var(--accent);
}

input::placeholder {
    color: var(--light-tertiary);
    opacity: 0.6;
}

textarea {
    resize: none;
}

/* Highlight on focus (same as input) */
textarea:focus {
    outline: none;
    border: 1px solid var(--accent);
}

/* Placeholder style */
textarea::placeholder {
    color: var(--light-tertiary);
    opacity: 0.6;
}

/* Specific height for Delivery Notes */
#delivery-notes-input {
    height: 6rem; /* adjust if needed */
}

.name {
    display: flex;
    flex-direction: row;
}

.full-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.full-logo img{
    width: 50%;
    height: 80%;
}