/* Main fleet container */
#fleet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

.van-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--dark-outline);
    box-shadow: var(--shadow);
    background-color: var(--dark-secondary);
    gap:0;
}

.van-box {
    border: none;
    background: none;
    width: 20%;
}

.van-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.fleet-box {
    display: flex;
}


.van-description {
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.van-box img {
    width: 70%;       /* Set fixed width instead of 5% */
}

@media (max-width: 950px) {

    .van-container {
        width: 95%;
    }
}

@media (max-width: 750px) {
    #fleet-container{
        margin-top: 3rem;
    }
    .van-container {
        flex-direction: column;
        width: 95%;
    }

    .van-box img {
        width: 50%;
    }

    .van-description, .van-info, .van-box {
        padding: 1rem;
        width: 100%;
    }
}



