/* ---------------------------------------------------------
   FLEET CONTAINER
--------------------------------------------------------- */
#fleet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-top: 2rem;
}


/* ---------------------------------------------------------
   VAN LAYOUT
--------------------------------------------------------- */
.van-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--dark-outline);
    box-shadow: var(--shadow);
    gap: 0;
}

.van-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.van-box img {
    width: 50%;
}

.van-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.van-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fleet-box {
    display: flex;
}


/* ---------------------------------------------------------
   RESPONSIVE MEDIA QUERIES
--------------------------------------------------------- */
@media (max-width: 950px) {
    .van-container {
        width: 95%;
    }
}

@media (max-width: 750px) {
    .van-container {
        flex-direction: column;
        width: 95%;
    }

    .van-box img {
        width: 50%;
    }

    .van-description,
    .van-info,
    .van-box {
        padding: 1rem;
        width: 100%;
    }
}
