/* ---------------------------------------------------------
   ROOT VARIABLES
--------------------------------------------------------- */
:root 
{
    /* Accent colors */
    --accent: #F36C1B;
    --accent-secondary: #FF9635;
    --logistics: #A6A6A6;
    --header-footer: #1B1D21;
    --side-bar: #d0d0d0;

    /* Light theme */
    --light-primary: #1B1D21;
    --light-secondary: #43474E;
    --light-tertiary: #6B6F78;

    /* Dark theme */
    --dark-primary: #f1f1f1;
    --dark-secondary: #e7e7e7;
    --dark-tertiary: #d0d0d0;

    --dark-outline: 1px solid rgba(0,0,0,0.08);
    --shadow: 0 6px 20px rgba(0,0,0,0.08);
}

[data-theme="dark"] 
{
    --light-primary: #F4F7FA;
    --light-secondary: #DDE6EE;
    --light-tertiary: #DDE6EE;
    --header-footer: #0e1218;
    --side-bar: #2C3444;

    --dark-primary: #151b25;
    --dark-secondary: #1A202C;
    --dark-tertiary: #2C3444;

    --dark-outline: 1px solid rgba(255,255,255,0.08);
    --shadow: 0 6px 20px rgba(0,0,0,0.2);
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body 
{
    font-family: "Raleway", sans-serif;
    background-color: var(--dark-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 
{
    color: var(--accent);
}

h3,
h4,
p 
{
    color: var(--light-primary);
}

/* ---------------------------------------------------------
   SEGMENTS (SECTION WRAPPER)
--------------------------------------------------------- */
.segment 
{
    width: 100%;
    max-width: 100%;
    scroll-margin-top: 85px;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.segment-header 
{
    margin-bottom: 2rem;
    text-align: center;
}

.segment h1 
{
    font-size: clamp(2rem, 4vw, 3.5rem);
    margin-bottom: 1rem;
}

.segment h2 
{
    font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 1rem;
}

.segment h3 
{
    font-size: clamp(1.3rem, 2.5vw, 2rem);
}

/* Theme switch */
.theme-switch-wrapper 
{
    display: flex;
}

.theme-switch input 
{
    display: none;
}

.theme-switch 
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.theme-switch .slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--dark-outline);
    background-color: var(--dark-tertiary);
    border-radius: 30px;
    transition: background-color 0.4s ease;
    box-shadow: var(--shadow);
}

.theme-switch .slider::before 
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    background-color: var(--accent);
    background-size: cover;
    background-position: center;
    transition: transform 0.4s ease, background-image 0.4s ease;
}

.theme-switch input:checked + .slider::before 
{
    transform: translateX(30px);
}

.theme-switch .slider:hover::before 
{
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}